.block-checkbox {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.block-button {
    position : absolute;
    color    : #C7EBF0;
    top      : 50%;
    transform: translateY(-50%);
    right    : 25px;
    font-size: 16px;
}

.block-title {
    font-style   : normal;
    font-weight  : 400;
    font-size    : 20px;
    line-height  : 24px;
    margin-left  : 10px;
    padding-right: 20px;
    color        : #FAF3DD;
    word-break   : break-all;
}